.dt {
    &-container {
        width: 87vw;
        margin: 2% auto;
    }
    &-status {
        border-radius: 8px;
        padding: 2px 12px;

        &.Created {
            color: #AD7200;
            background-color: #FFF8DD;
        }
        &.Complete {
            color: $dumpling;
            background-color: #E6F9E5;
        }
        &.Open {
            color: #AD7200;
            background-color: #FFF8DD;
        }
    }
}

.dt-filters {
    margin: 52px 0 0 0;
    padding: 52px 0 0 0;
    border-top: 1px solid $dumpling-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__label {
        display: flex;
        align-items: center;
        margin: 0 36px 0 0;
        padding: 0 36px 0 0;
        border-right: 1px solid $dumpling-gray;
    }
    &-item {
        display: flex;
        align-items: center;
        position: relative;
        margin: 0 1rem 0 0;
        padding: 0.1rem 1rem;
        border-radius: 20px;
        border: 1px solid #E7E7E7;
        transition: all 0.5s;

        &:hover {
            cursor: pointer;
        }
        &-cl {
            display: flex;
            align-items: center;
        }
        &.active {
            border: 1px solid $dumpling;
            & .dt-filters-arrow-icon{
                transform: rotate(-180deg);
            }
            & .dt-filters__box{
                opacity: 1;
                
                z-index: 1;
            }
        }
    }
    &__box {
        width: 100%;
        padding: 1.1rem 1rem;
        position: absolute;
        background-color: #ffffff;
        border-radius: 20px;
        opacity: 0;
        top: 105%;
        right: 0;
        transition: opacity 0.5s;

        &-buttons {
            display: flex;
            width: 100%;
        }
    }
    &-icon {
        width: 1rem;
        height: 1rem;
        margin: 0 1rem 0 0;
    }
    &-arrow-icon {
        width: 1rem;
        height: 1rem;
        margin: 0 0 0 1rem;
        transition: all 0.5s;
    }
    &-search-icon {
        margin: 0 1rem 0 0;
    }
    &__col {
        display: flex;
    }
    &__search {
        display: flex;
        justify-content: center;
        padding: 0.7rem 0.8rem;
        border: 1px solid $dumpling-gray;
        border-radius: 20px;
    }
    &__status {
        display: flex;
        align-items: center;

        input[type='checkbox'] { 
            margin: 0 1rem 0 0;
        }
    }


    &__search-input {
        border: none;

        &:focus {
            outline: none;
        }
    }
}

/*  Datable overwriting */
.sc-jSUZER.guiFfX.rdt_TableHeadRow {
    background-color: $dumpling;
    color: white;
    border-radius: 12px 12px 0 0;
    margin: 50px 0 0 0;
}
.ljzry {
    @extend .text-m;
    font-weight: 700;
}
.sc-eDWCr.kcjSoG {
    margin: 0 0 0 8px;
    content: url('src/images/sort-icon.svg');
}
.sc-eDWCr.gobwdD {
    margin: 0 0 0 8px;
    content: url('src/images/sort-icon.svg');
}
.sc-eDWCr.bxEjmP {
    margin: 0 0 0 8px;
    content: url('src/images/sort-icon.svg');
}
input[type='checkbox'] { 
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    border: 1px solid #DBDDDF;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    accent-color: $dumpling;
}
input[type='checkbox']:checked { 
    background: $dumpling;
}
