/* Font importing */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&display=swap");
/* Variables */
html {
  font-size: 16px;
}

* {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.text-l {
  font-size: 24px;
  font-weight: 600;
}
.text-m, .ljzry, .login-form-input {
  font-size: 14px;
  font-weight: 600;
}
.text-m-bold {
  font-size: 14px;
  font-weight: 700;
}
.text-s {
  font-size: 14px;
}

.btn {
  transition: all 0.5s ease-in-out;
  border: none;
  border-radius: 5px;
  padding: 3%;
  width: 100%;
}
.btn-primary {
  background-color: #00A651;
  color: white;
  cursor: pointer;
}
.btn-disabled {
  background-color: #E7E7E7;
  color: #787878;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}

.login-overlay {
  width: 100%;
  height: 97vh;
  background-image: url("./images/login_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-position-x 1s ease-in-out;
  animation: cloudsMove 5s infinite;
}
.login-logo {
  width: 170px;
  margin: 10vw 0 6vw 0;
}
.login-box {
  width: 25.69%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.login-form-input {
  height: 44px;
  padding: 0 0.8rem;
  border: 1px solid #E7E7E7;
  border-radius: 6px;
}
.login-form-input:focus {
  border: 1px solid #00A651;
  outline: none !important;
  box-shadow: 0 0 2px #00A651;
}
.login-form-submit {
  margin: 48px 0 0 0;
}
.login-form-message {
  max-height: 0px;
  color: #00A651;
  margin: 0;
  padding: 1rem;
  display: flex;
  border-radius: 0.375rem;
  background-color: #E6F9E5;
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s;
}
.login-form-message.active {
  max-height: 3.125rem;
  margin: 1.8125rem 0 1.5rem 0;
  visibility: visible;
  opacity: 1;
}
.login-form-message-icon {
  margin-right: 0.875rem;
}
.login-resend {
  color: #00A651;
  transition: all 0.8s;
}
.login-resend:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Animations */
@keyframes cloudsMove {
  0% {
    background-position-x: 0vw;
  }
  50% {
    background-position-x: 3vw;
  }
  100% {
    background-position-x: 0vw;
  }
}
/**
* @ReactInputVerificationCode Overwriting 
*/
:root {
  --ReactInputVerificationCode-itemWidth: 2.75rem !important;
  --ReactInputVerificationCode-itemHeight: 2.75rem !important;
  --ReactInputVerificationCode-itemSpacing: 1rem;
}

.ReactInputVerificationCode__container {
  margin: auto;
}

.is-active {
  font-size: 14px !important;
  border: 1px solid #00A651 !important;
  box-shadow: 0 0 5px #00A651 !important;
}

.is-filled {
  font-size: 14px !important;
}

.dt-logo {
  width: 15.75rem;
}
.dt-overlay {
  width: 100%;
  height: 91vh;
  padding: 2% 0;
  background-color: #FAFAFA;
}
.dt-container {
  width: 87vw;
  margin: 2% auto;
}
.dt-status {
  border-radius: 8px;
  padding: 2px 12px;
}
.dt-status.Created {
  color: #AD7200;
  background-color: #FFF8DD;
}
.dt-status.Complete {
  color: #00A651;
  background-color: #E6F9E5;
}
.dt-status.Open {
  color: #AD7200;
  background-color: #FFF8DD;
}

.dt-filters {
  margin: 2.5rem 0 0 0;
  padding: 1.5rem 0 0 0;
  border-top: 1px solid #E7E7E7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dt-filters__label {
  display: flex;
  align-items: center;
  margin: 0 36px 0 0;
  padding: 0 36px 0 0;
  border-right: 1px solid #E7E7E7;
}
.dt-filters-item {
  margin: 0 1rem 0 0;
  padding: 0.1rem 1rem;
  border: 1px solid #E7E7E7;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #ffffff;
  transition: all 0.5s;
}
.dt-filters-item:hover {
  cursor: pointer;
}
.dt-filters-item-cl {
  display: flex;
  align-items: center;
}
.dt-filters-item.highlight {
  border: 1px solid #00A651;
}
.dt-filters-item.active {
  border: 1px solid #00A651;
}
.dt-filters-item.active .dt-filters-arrow-icon {
  transform: rotate(-180deg);
}
.dt-filters-item.active .dt-filters__box {
  opacity: 1;
  z-index: 1;
}
.dt-filters__box {
  position: absolute;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #E7E7E7;
  opacity: 0;
  top: 115%;
  right: 0;
  transition: opacity 0.5s;
  overflow: hidden;
  filter: drop-shadow(0px 20px 30px rgba(190, 193, 197, 0.2));
}
.dt-filters__box.status {
  width: 15.25rem;
}
.dt-filters__box.shopper {
  width: 23.75rem;
}
.dt-filters__box.date {
  right: -205%;
}
.dt-filters__box--auto {
  width: auto !important;
  left: 0;
}
.dt-filters__box-item {
  padding: 1rem 1rem;
  transition: all 0.5s ease-in-out;
}
.dt-filters__box-item.active {
  background-color: #F8F8F8;
}
.dt-filters__box-item p {
  margin: 0;
}
.dt-filters__box-buttons {
  border-top: 1px solid #E7E7E7;
  padding: 1rem;
  display: flex;
  /*gap property doesnt work on safari, this is the way to replace it*/
}
.dt-filters__box-buttons > * + * {
  margin-left: 0.75rem;
}
.dt-filters__box-buttons button {
  border-radius: 20px;
  padding: 12px 0 !important;
}
.dt-filters-icon {
  width: 1rem;
  height: 1rem;
  margin: 0 1rem 0 0;
}
.dt-filters-arrow-icon {
  width: 1rem;
  height: 1rem;
  margin: 0 0 0 1rem;
  transition: all 0.5s;
}
.dt-filters-search-icon {
  margin: 0 1rem 0 0;
}
.dt-filters__col {
  display: flex;
}
.dt-filters__search {
  padding: 0.7rem 0.8rem;
  display: flex;
  border: 1px solid #E7E7E7;
  border-radius: 20px;
  justify-content: center;
  background-color: #ffffff;
}
.dt-filters__status {
  display: flex;
  align-items: center;
}
.dt-filters__status input[type=checkbox] {
  margin: 0 1rem 0 0;
}
.dt-filters__search-input {
  border: none;
}
.dt-filters__search-input:focus {
  outline: none;
}

.dt-assign {
  margin: 0;
  display: flex;
  align-items: center;
  max-height: 0px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.dt-assign.active {
  max-height: 500px;
  opacity: 1;
  margin: 2rem 0 0 0;
}
.dt-assign__btn {
  width: auto;
  margin: 0 0 0 1rem;
  padding: 0.75rem 0.9375rem;
  display: flex;
  align-items: center;
  border-radius: 1.25rem;
}
.dt-assign__btn-user-icon {
  margin: 0 0 0 0.5rem;
}

/*modal*/
.dt-modal {
  border-radius: 15px;
  display: flex;
  padding: 2rem;
  flex-direction: column;
}
.dt-modal-header {
  padding: 0.8rem 1.2rem;
  display: flex;
  justify-content: space-between;
  border-radius: 12px 12px 0 0;
  color: white;
  background-color: #00A651;
}
.dt-modal-header-phone {
  text-align: center;
  width: 21%;
}
.dt-modal-data {
  padding: 0.8rem 1.2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #E7E7E7;
}
.dt-modal-data-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dt-modal-buttons {
  margin: 2.25rem 0 0 0;
  justify-content: flex-end;
}
.dt-modal-buttons > * + * {
  margin-left: 0.75rem;
}
.dt-modal-buttons button {
  width: 22%;
  border-radius: 20px;
  padding: 12px 0 !important;
}

[data-modal=true] {
  background: rgba(0, 0, 0, 0.1411764706) !important;
}
[data-modal=true] > div:first-child {
  width: 520px !important;
  border-radius: 12px;
  padding: 2rem;
}

/*  Datable overwriting */
.rdt_TableHeadRow {
  background-color: #00A651 !important;
  color: white;
}

.rdt_Table {
  padding: 0;
  margin: 50px 0 0 0;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0px 20px 30px -4px rgba(190, 193, 197, 0.1);
}

.ljzry {
  font-weight: 700;
}

.rdt_TableCol_Sortable span {
  margin: 0 0 0 8px;
  content: url("/src/images/sort-icon.svg");
}

input[type=checkbox] {
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border: 1px solid #DBDDDF;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  accent-color: #00A651;
}

input[type=checkbox]:checked {
  background: #00A651;
}

.swal2-loader {
  border-color: #00A651 rgba(0, 0, 0, 0) #00A651 rgba(0, 0, 0, 0);
}

/*# sourceMappingURL=index.css.map */
